<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list role="list" fxLayoutAlign="center center" fxLayout="column">
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/home"
        (click)="sidenav.close()"
        class="matlist"
        >Home</mat-list-item
      >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/home"
        (click)="sidenav.close()"
        class="matlist"
        >Portfolios</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Home</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
